* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
:root {
  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

body.dark {
  /* ===== color ===== */
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body.dark {
  background: var(--body-color);
}
.four-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/bg3.jpeg);
  background-position: 0px -100px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.four-header h1 {
  margin: 0;
  padding-top: 10%;
  font-size: 2em;
  font-weight: 400;
}
.contact {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}
.contact .rules {
  text-align: left;
  list-style: decimal;
  padding-bottom: 70px;
}
.contact .rules h2 {
  margin-bottom: 5px;
  font-size: 2em;
  font-weight: 200;
}
.contact .rules span {
  padding: 0;
  word-spacing: 5px;
  font-size: 1em;
  font-weight: 300;
}

@media (max-width: 900px) {
  .four-header {
    background-position: 0 0px;
  }
  .four-header h1 {
    transform: translateY(65px);
  }
}

.menu-links {
  padding: 0;
}

body nav.sidebar {
  width: 278px;
  height: 656;
}

.menu-bar .menu {
  width: 250px;
  height: 265px;
}

.menu-bar .search-box {
  transition: all 0.4s ease-in-out;
}
.sidebar.close .search-box {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.menu-bar .nav-link {
  padding: 0px;
}
.sidebar.close .menu-bar .nav-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.rules li,
.rules h2,
.rules span {
  color: var(--text-color);
}

.col h2 {
  font-size: 2em;
  font-weight: 300;
}

form .name label,
form .email label,
form .message1 label,
.col h2 {
  color: var(--text-color);
  font-weight: 200;
}

form .name label,
form .email label,
form .message1 label {
  margin-top: 20px;
  margin-right: 85%;
  width: 100px;
}

form .message1 label {
  margin-right: 90%;
  width: 100px;
}

form button.btn {
  margin-top: 40px;
  font-weight: 300;
}
