:root {
  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

/* Home */
.home {
  position: relative;
  left: 280px;
  height: 100vh;
  width: calc(100% - 280px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 2em;
  font-family: "Nunito";
  font-weight: 500;
  color: var(--text-color);
  padding: 36px 10px;
}
.sidebar.close ~ .home {
  left: 98px;
  width: calc(100% - 98px);
}

/* footer */
footer {
  margin: 0;
  background-color: var(--body-color);
  transition: all 0.3s ease;
}
footer .made {
  color: var(--text-color);
}
